<main-container>
  <div class="container">
    <div class="error-message center-align">
      <h2 class="light">Oops!</h2>
      <h4 class="light">404 Not found</h4>
      <div class="error-details">
        <img src="/assets/budgeto/img/unicorn.png" width="180" height="180"><br>Sorry, this page, like unicorns, does not
        exist!
      </div>
      <div class="error-actions">
        <a [routerLink]="['/budget']" class="waves-effect waves-light btn">
          <i class="material-icons left">home</i> Take Me Home
        </a>
        <a href="mailto:contact@ericmatte.me?Subject=Need%20help%20with%20Budgeto" class="waves-effect waves-light btn grey">
          <i class="material-icons left">mail</i> Contact Support
        </a>
      </div>
    </div>
  </div>
</main-container>