<div class="container">
    <div class="card teal darken-1">
        <div class="card-content white-text">
            <span class="card-title"><h4>Endless Budgeto</h4></span>
            <p>Budgeto est une nouvelle application simple qui vous permet de créer et de suivre votre budget.</p>
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col s4">
          <div class="center promo promo-example">
            <i class="material-icons">flash_on</i>
            <p class="promo-caption">Accélèrez la budgétisation</p>
            <p class="light center">Avec Budgeto, vous pouvez rapidement ajouter des transactions à votre budget.</p>
          </div>
        </div>
        <div class="col s4">
          <div class="center promo promo-example">
            <i class="material-icons">group</i>
            <p class="promo-caption">Trier automatiquement par catégorie</p>
            <p class="light center">Budgeto fusionne toutes vos transactions bancaires en une seule vue et trie chaque transaction par catégorie.</p>
          </div>
        </div>
        <div class="col s4">
          <div class="center promo promo-example">
            <i class="material-icons">settings</i>
            <p class="promo-caption">Définissez des limites</p>
            <p class="light center">Définissez et suivez les limites de votre budget. Cela vous aidera à trouver sur quelle catégorie vous dépensez le plus.</p>
          </div>
        </div>
    </div>
    <div class="center-align" style="margin: 20px">
        <a routerLink="/login" class="center-align waves-effect waves-light btn-large"><i class="left material-icons">exit_to_app</i>Connectez-vous pour commencer</a>
    </div>
</div>
