/* You can add global styles to this file, and also import other style files */
/* Custom Stylesheet */
/**
* Use this file to override Materialize files so you can update
* the core Materialize files in the future
*
* Made By MaterializeCSS.com
*/

body, html {
    height: 100%;
}

body {
    background-color: #F7F7F7;
    color: #3C4858;
}

header, main, footer {
    padding-left: 300px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
       padding-left: 0;
   }
}

.side-nav > li:first-child {
    background-color: rgba(0, 0, 0, 0.2);
}

.icon-block {
    padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
}

/*@media only screen and (max-device-width: 480px) {*/
@media only screen and (max-width: 600px) {
    .modal {
        overflow-y: auto !important;
        max-height: 80%;
        width: 90%;
    }

    .modal-content {
        overflow-y: auto !important;
    }
}

.modal {
    overflow-y: inherit;
}

.modal-content {
    overflow-y: inherit;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}